<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawar.jewellerybilling">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".Jewello"
        android:allowBackup="true"
        android:icon="@drawable/jwello_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jwello_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bills.BillsActivity"></activity>
        <activity android:name=".print.PrinterSettingActivity" />
        <activity android:name=".print.printBill.PrintBillActivity" />
        <activity android:name=".items.addItem.AddItemActivity" />
        <activity android:name=".items.listItems.ItemsActivity" />
        <activity android:name=".customers.updateActivity.UpdateCustomerActivity" />
        <activity android:name=".customers.addActivity.AddCustomerActivity" />
        <activity android:name=".customers.listActivity.CustomersActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".billing.BillingActivity" />
        <activity android:name=".SetUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>